body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	padding-top:100%;
	width: 100%;
	border-radius: 50%;
	margin: 15px 0 15px 0;
}

.top-left {
	border-radius: 20px 0 0 0;
}

.top-right {
	border-radius: 0 20px 0 0;
}

.bottom-right {
	border-radius: 0 0 20px 0;
}

.bottom-left {
	border-radius: 0 0 0 20px;
}

.red {
	background-color: #962a21;
}

.blue {
	background-color: #0f4fd0;
}

.green {
	background-color: #0b7f00;
}

.yellow {
	background-color: #e0f340;
}

.black {
	background-color: #000;
}

.lit {
	filter: brightness(1.75);
}